
.logo-img {
    width: clamp(230px,
            calc(230px + (100vw - 768px) * 0.1597222),
            299px);
    height: auto;
    transition: width .2s ease;
}

.search-form__text {
    width: clamp(250px,
            calc(250px + (100vw - 768px) * 0.1736111),
            325px);
    transition: width .2s ease;
}

button.nav-link,
.gate-form button.nav-link {
    font-size: clamp(14px,
            calc(14px + (100vw - 768px) * 0.0097222),
            18.2px);
    transition: font-size .2s ease;
}

@media (min-width: 1200px) {
    .logo-img {
        width: 299px;
    }

    .search-form__text {
        width: 325px;
    }

    button.nav-link,
    .gate-form button.nav-link {
        font-size: 18.2px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}

.logo-block {
    margin: 0 10px;
    display: flex;
    align-items: center;
}


.nav-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
}

.search-form {
    flex-grow: 1;
    margin: 0;
}

.search-form__text {
    height: 36px;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

button.nav-link,
.gate-form button.nav-link {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    transition: color 0.2s ease;
    -webkit-appearance: none;
    appearance: none;
    white-space: nowrap;
}

.sell-button {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 4px;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.gate-form {
    display: inline;
}

input:focus {
    outline: none;
}

