.menu {
    height: 70px;
    border-bottom: 1px solid #5f5f5f;
    display: flex;
    align-items: flex-end;
}

.menu-suggest {
    margin-left: 10%;
    color: #5f5f5f;
    font-weight: bold;
}

.menu-mylist {
    margin-left: 40px;
    color: #5f5f5f;
    font-weight: bold;
}

.menu-effect {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.menu-suggest.is-active,
.menu-mylist.is-active {
    color: #f60e02;
}


.card {
    width: 220px;
    margin: 30px 0 0 30px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    position: relative;
}

.card__img img{
    width: 220px;
    height: 198px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.card__img--panel {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card__content {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.card__content--product-name {
    color: #5f5f5f;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.card__sold-tag {
    position: absolute;
    top: 10px;
    right: -35px;
    background-color: #c0392b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 40px;
    text-align: center;
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 3;
    letter-spacing: 1px;
}